<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="home">
		{% include header.html %}

		<div class="hero" style="background-image: url({{ 'assets/home-hero1.jpg' | relative_url }})">
			<span>
				<strong>Got you here&hellip;</strong><br>
				Won't get you there.<br>
				Upgrade <span class="loop" data-labels="AS/400,Db2,Excel"></span> now with M-industries.<br><br>
				<a class="button" href="contact">Get in touch</a>
			</span>
		</div>

		<article>
			<h1>Upgrade legacy systems</h1>
			<section>
				<p>
					Integrate with, extend and if necessary replace any legacy
					system without a risky custom development project.
					Start small and get your applications back on track for
					continuous improvement.
				</p>
				<p class="intro">
					We help you move forward, step by step, without risk.
				</p>
				<p class="strip">
					<span>
						<img src="{{ 'assets/iterative.svg' | relative_url }}" alt="iterative upgrades" width="128" height="128">
						<br>
						Iterative upgrades
					</span>
					<span>
						<img src="{{ 'assets/extend.svg' | relative_url }}" alt="extend" width="128" height="128">
						<br>
						Extend what works well
					</span>
					<span>
						<img src="{{ 'assets/lego.svg' | relative_url }}" alt="tailored" width="128" height="128">
						<br>
						Tailored, not custom
					</span>
				</p>
			</section>

			<blockquote class="sapa">
				<span class="inner">We are able to get more from our resources than we thought was possible. And we are just getting started.</span>
				<small>
					Frank Iepema<br>
					Managing Director Sapa Hungary
				</small>
			</blockquote>

			<section>
				<ul>
					<li>Iterative upgrades so you don't have to deal with a big invasive roll-out.</li>
					<li>Extend with new features where necessary, don't break what works well.</li>
					<li>Replace one feature at a time so everyone can get used to the changes.</li>
					<li>Our software is tailored for you, but there is no custom programming involved.</li>
					<li>We can create exceedingly robust interfaces to read from and write to existing databases of all kinds.</li>
				</ul>
				<h2>M-industries and SAPA</h2>
				<p>
					For SAPA we created an application that brings data from several
					legacy systems together and adds the data that was missing in all of them.
					This enabled them to finally get a grip on their data and significantly
					improve their delivery performance.
				</p>
			</section>

		</article>

		<div class="hero" style="background-image: url({{ 'assets/home-hero.jpg' | relative_url }})">
		</div>

		<article>
			<h1>Convert Excel to Apps</h1>
			<section>
				<p>
					You know you can't move on like this.
					People are making mistakes, status reports take too long,
					there are multiple versions of critical data out there
					and every week brings more Excel sheets.
				</p>
				<p>
					Your legacy software effectively can't be upgraded or modified.
					New software either means adapting your organization,
					or a massive an risky investment of time and money.<br>
					Probably both.
				</p>
				<p class="strip">
					<span>
						<img src="{{ 'assets/central.svg' | relative_url }}" alt="centralize" width="128" height="128">
						<br>
						Centralize truth
					</span>
					<span>
						<img src="{{ 'assets/collab.svg' | relative_url }}" alt="collaborate" width="128" height="128">
						<br>
						Collaborate on any device
					</span>
					<span>
						<img src="{{ 'assets/excel.svg' | relative_url }}" alt="tailored" width="128" height="128">
						<br>
						Import from and export to Excel
					</span>
				</p>
			</section>

			<blockquote class="tata">
				<span class="inner">Our project with M-industries received the ‘Recognition of Excellence’ award from our CEO.</span>
				<small>
					Matthé de Vent<br>
					Director Supply Chain Planning<br>
					Tata Steel Mainland Europe
				</small>
			</blockquote>

			<section>
				<p>
					M-industries takes your Excel sheets and transforms them
					to state of the art web applications.
				</p>
				<ul>
					<li>Centralize a single truth about critical data</li>
					<li>Collaborate with multiple users</li>
					<li>Accessible on any device, from anywhere</li>
					<li>Improve and then ensure data quality</li>
					<li>Formalize hidden rules and secret pitfalls</li>
					<li>Our applications can both read from and write to Excel,
						making the transition completely seamless.</li>
				</ul>
				<p>
					For Tata Steel, we moved their supply chain data out of Excel.
					Instead of laborious and error-prone weekly reports, they
					now have daily reports with a single press of a button.
				</p>
			</section>

			</section>
		</article>

		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
